[% start_year=2014 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[% INCLUDE $pl | xtidy %]
(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/[% info.name %]-[% info.version %]/examples/[% pl %]> in the distribution.)
[%- END %]
=encoding UTF-8

=head1 NAME

Image::PNG::Cairo - extract PNG data from a Cairo::ImageSurface

=head1 SYNOPSIS

[% example("synopsis") %]

=head1 VERSION

This documents [% info.colon %] version [% info.version %]
corresponding to git commit L<[% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %].

=head1 DESCRIPTION

This is a bridge between L<Cairo> and L<Image::PNG::Libpng> which
allows the user to extract the image data from a Cairo::ImageSurface
into a structure which can then be manipulated to add other kinds of
data.

=head1 FUNCTIONS

=head2 cairo_to_png

    my $png = cairo_to_png ($surface);

The input, C<$surface>, is a L<Cairo::ImageSurface> object. Only Cairo
surfaces of type 'argb32' are supported. The return value is an
L<Image::PNG::Libpng> object, with its image dimensions, bit depth,
colour type, and image data taken from C<$surface>. C<$png>
corresponds to the return value of the L<Image::PNG::Libpng> method
C<create_write_struct> with the methods C<set_IHDR> and C<set_rows>
and C<set_transforms> applied to it using data extracted from
C<$surface>.

C<$png> is set up using the Image::PNG::Libpng method
C<set_transforms> such that the PNG image data is transformed on
writing from the Cairo image data format to the PNG format.

=head1 EXAMPLES

=head2 Captcha

This example CGI program makes a captcha from random letters. It also
includes the captcha text and the date and time of creation of the
image in the PNG.

[% example("captcha") %]

Please do not use this example program in the stead of a real captcha.

=head1 SEE ALSO

=over

=item Cairo

L<Cairo> is a general-purpose drawing program.

=item Image::PNG::Libpng

L<Image::PNG::Libpng> is a Perl wrapper to the C PNG library libpng.

=back

[% INCLUDE "author" %]
